name: flutter_mushi_01
description: A new Flutter project.
publish_to: "none" # Remove this line if you wish to publish to pub.dev
version: 1.0.0+1

environment:
  sdk: ">=2.15.1 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  image_picker: ^0.8.5+3

  cupertino_icons: ^1.0.2
  path: ^1.8.0
  flutter_overboard: 3.1.1
  shared_preferences: 2.0.15
  adobe_xd: ^2.0.1
  flutter_svg: ^1.0.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0

flutter:
  uses-material-design: true

  assets:
  - assets/
  - assets/img/
